[submodule "ext/boost.compute"]
	path = ext/boost.compute
	url = https://github.com/Korovasoft/compute.git
[submodule "ext/lodepng"]
	path = ext/lodepng
	url = https://github.com/Korovasoft/lodepng.git
